/* tableStyles.css */

/* Adjust the height of the table rows */
.table-row {
    height: 40px; /* Change this value as needed */
  }

  table th {
    background-color: #2D3748;
    color: white !important;
  }
